extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Ewen Earle

        p.lead.text-light.intro-title
          | Junior Full Stack JavaScript Developer
        
          p.portfolio-bio
            | I completed a computer programming diploma in college 15 years ago but I ended up pursuing a different career path. I've decided to come back to this field in the past year. After dabbling in many online resources, I have settled on Team Treehouse to help get my skills up to date and learn new technologies. 
       
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        ul
          li Javascript
          li jQuery
          li HTML
          li CSS
          li Visual Studio
          li Debugging
          li AJAX/Fetch API
          li Node.js 
          li Express
          li PUG

        h6 Contact Info

        ul
          li 012-345-6789
          li ewen_earle@hotmail.com
        
        a.button.expanded(href='' title="Sorry I don't have LinkedIn") LinkedIn
        a.button.expanded(href='https://github.com/ewenearle' target="_blank") GitHub
        a.button.expanded(href='' title="Sorry I don't have Twitter") Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  