extends layout

block content
    h1= `"${error.status}"${error.message}`
    img.error-image(src=`/static/images/404.png` alt='404')
    pre= error.stack
    a.button.expanded.error-button(href='/') GO BACK TO PORTFOLIO WEB PAGE
    
    